<!--签到详情-->
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="5">
    <title>会议后台</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/datetimepicker/jquery.datetimepicker.css"/>


    
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>会议签到</strong>
        <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span
                            class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span
                            class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">

<%- include admin-mleft %>
<div class="am-g" style="position: relative;width: 90%;left: 40px;top: 50px">
    <div class="am-u-sm-10">
        <div class="am-panel am-panel-success">
            <div class="am-panel-hd">已签到人数：<%= signerArrived.length %>人</div>
            <div class="am-panel-bd" style="height: 400px;overflow-y: scroll">
                <!--面板内容-->
                <table class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr>
                        <th>所在单位</th>
                        <th>姓名</th>
                        <th>联系方式</th>          
                        <th>邮箱</th>
                        <th>微信号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(signerArrived){ %>
                        <% signerArrived.forEach(function (signer, index) { %>
                            <% if (signer) { %>
                                <tr class="am-active">
                                    <td><%= signer.company %></td>
                                    <td><%= signer.truename %></td>
                                    <td><%= signer.telephone %></td>
                                    <td><%= signer.email %></td>
                                    <td><%= signer.weixin %></td>
                                </tr>   
                            <% } %>
                        <% }) %>
                    <% } %>                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
   
</div>
<div class="am-g" style="position: relative;width: 90%;left: 233px;top: 50px">
     <div class="am-u-sm-10">
        <div class="am-panel am-panel-danger">
            <div class="am-panel-hd">未签到人数：<%= signerNotArrived.length %>人</div>
            <div class="am-panel-bd" style="height: 400px;overflow-y: scroll">
                <!--面板内容-->
                <table class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr>
                        <th>所在单位</th>
                        <th>姓名</th>
                        <th>联系方式</th>          
                        <th>邮箱</th>
                        <th>微信号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(signerNotArrived){ %>
                        <% signerNotArrived.forEach(function (signer, index) { %>
                            <% if (signer) { %>
                                <tr class="am-active">
                                    <td><%= signer.company %></td>
                                    <td><%= signer.truename %></td>
                                    <td><%= signer.telephone %></td>
                                    <td><%= signer.email %></td>
                                    <td><%= signer.weixin %></td>
                                </tr>   
                            <% } %>
                        <% }) %>
                    <% } %>                                
                    </tbody>               
                </table>
            </div>
        </div>
    </div>
</div>


<%- include admin-footer %>