<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<title>微信墙大屏幕</title>
		<!--公共样式-->
		<link rel="stylesheet" href="/signin/weixinwall_files/commonV1.0.css">
		<link rel="stylesheet" href="/signin/weixinwall_files/headerV1.0.css">
		<link rel="stylesheet" href="/signin/weixinwall_files/footerV1.0.css">
		<link rel="stylesheet" href="/signin/weixinwall_files/layerV1.0.css">
		<link rel="stylesheet" href="/signin/weixinwall_files/tooltipster.css">
		<script>
			var screenArr = new Array(); //各墙头部信息
		</script>
		<!--默认皮肤-->
		<link id="skincss" rel="stylesheet" href="/signin/weixinwall_files/defaultV1.0.css">
		<style id="customerStyle"></style>
		<!--库文件-->
		<script src="/signin/weixinwall_files/jquery-1.8.3.min.js"></script>
		<script src="/signin/weixinwall_files/jquery.tooltipster.min.js"></script>
		<script src="/signin/weixinwall_files/footerV1.0.js"></script>
		<script src="/signin/weixinwall_files/headerV1.0.js"></script>
		<script src="/signin/weixinwall_files/chromeTip.js"></script>
		<script src="/signin/weixinwall_files/strUtil.js"></script>
		<script src="/signin/weixinwall_files/signin.js"></script>

		<!-- 公用初始化 -->
		<script src="/signin/weixinwall_files/wxWallV1.0.js"></script>
		<!--签到-->
		<link rel="stylesheet" href="/signin/weixinwall_files/animate.css">
		<link rel="stylesheet" href="/signin/weixinwall_files/siginWallV1.0.css">
		<!--风格-->
		<link rel="stylesheet" href="/signin/weixinwall_files/skinSelectV1.0.css">
	</head>
	<!-- onload,当一个页面或者一个元素加载完成时被触发打开页面的同时调用INIT()函数 INIT()函数 是初始化函数  -->
	<body onload="init()" style="background-image:url(/signin/weixinwall_files/defaultV1.0.jpg);background-size:cover;">
		<input id="checkTime" type="hidden" value="1443341311">
		<input id="signUpdateTime" type="hidden" value="1443338963">
		<input id="sayUpdateTime" type="hidden" value="1443338963">
		<input id="noScreen" type="hidden" value="">
		<!-- <div class="main-wrapper"> -->
		<div id="wrap" class="wrapBg" style="height:auto; width: 1361px;">
			<div id="whole">
				<div class="loader" style="display: none;">Loading...</div>
				<!--页首开始-->
				<div class="header clearfix">
					<!-- <h3 style="width:210px;height:52px;"><img id="logurl" name="home.logurl" src="/images/zhiliit.jpg" width="210" height="52"></h3> -->
					<div class="wordScroll">
						<div class="scrollBox colorStyle">
							<ul>
								<p id="title">
									<li>关注微信号，发送含有“签到”两字的内容<br>即可签到</li>
								</p>
							</ul>
						</div>
						<div class="num colorStyle">
							<p><span id="countP">2人签到</span></p>
						</div>
					</div>
					<div class="QRcode" onclick="openQRcodeWall();" style="cursor: pointer">
						<img id="wscode" name="home.qrurl" src="/images/erweima.jpg" width="95" height="95">
					</div>
				</div>
				<!--页首结束-->
				<div id="container">
					<!--签到开始-->
					<div id="siginWall" class="contBox siginWall borderStyle" style="display: none;">
						<ul id="signlist" style="margin-top: 0px;">
							<% signers.forEach(function (signer, index) { %>
							    <% if (signer) { %>
							      	<li id=<%= signer.openid %> class="user-had">
										<div class="play flipInY">
											<input type="hidden" name="p"+ <%= signer.sex %> value=<%= signer.nickname %>+"|"+ <%= signer.sex %> +"|" + <%= signer.headimgurl%> +"|" + <%= signer.openid%>>
											<div class="avatar"><img src=<%= signer.headimgurl%>><p><%= signer.nickname %></p></div>
											<div class="siginWords wordsRight">
												<i class="leftside"></i>
												    <p> 签到 <%= signer.truename%> </p>
											</div>
										</div>
									</li>
								<% } %>
							<% }) %>
						</ul>
					</div>
					<!--签到结束-->
					<!--二维码-->
					<div class="QRcodeBox" style="display: none;">
						<h3>使用微信扫描以下二维码，关注后发送相关内容即可参与微信墙活动</h3>
						<a href="javascript:void(0);" onclick="closeQrcodeWall();" class="codeClose"></a>
						<p><img id="bigQrurl" src="/images/erweima.jpg" alt=""></p>
					</div>
				</div>
				<!--页尾开始-->
				<div id="tabMenu" class="footer clearfix">
						<div class="btnIcon btnMenu menuStyle" style="margin:0 0 0 20px;">
							<!-- <img id="logurl" name="home.logurl" src="/signin/weixinwall_files/puduzaixian_log.png" width="130" height="35"> -->
						</div>
					<div class="btnIcon btnMenu menuStyle" style="margin:0 25px;">
						<a href="javascript:void(0)" data-class="fullWall" class="btnFull tooltipstered tooltip" onclick="fullScreen(document.documentElement)"></a>
					</div>
					<div class="btnIcon btnAct menuStyle" style="margin:0 18px 0 24px;">
						<a href="javascript:void(0)" class="btnOldest tooltip tooltipstered" onclick="wallPage(&#39;min&#39;)"></a>
						<a href="javascript:void(0)" class="btnPrev tooltip tooltipstered" onclick="wallPage(&#39;last&#39;)"></a>
						<a href="javascript:void(0)" class="tooltip tooltipstered btnPlay" id="but_play" onclick="wallPage(&#39;play&#39;)"></a>
						<!--<a href="javascript:void(0)" class="btnPlay tooltip" onClick="openSay()"></a>-->
						<a href="javascript:void(0)" class="btnNext tooltip tooltipstered" onclick="wallPage(&#39;next&#39;)"></a>
						<a href="javascript:void(0)" class="btnNewest tooltip tooltipstered" onclick="wallPage(&#39;max&#39;)"></a>
					</div>
				</div>							
				<!--页尾结束-->
			</div>
		</div>
		<!-- </div> -->

		<!--chrome提示条-->
		<div class="chromeTip" style="display: none;">
			为了更好展现微信墙功能，让您获得更好的用户体验，建议您使用<a href="http://www.google.cn/intl/zh-CN/chrome/browser/" target="_blank">Chrome浏览器</a>。<a class="chromeBtn" href="http://www.google.cn/intl/zh-CN/chrome/browser/" target="_blank"></a>
			<span class="closeIcon"></span>
		</div>	
	</body>
</html>